@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    font: normal normal 13px/16px "Open Sans", sans-serif;
    background-image: linear-gradient(120deg, rgba(0, 228, 140, 0.5), rgba(122, 122, 122, 0.5));
    ;
}

.container {
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background: rgb(78, 78, 78);
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff;
}

em {
    text-align: left;
    justify-content: left;
    font-weight: 200;
    color: #fff;
}

form {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 20px;
}

input {
    padding: 4px 15px 4px 80px;
}


#button {
    display: inline-block;
    background-color: #15d485;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 5px 15px;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px;
    color: rgb(255, 255, 255);
}

ol li:nth-child(even) {
    background: #777777;
}

.strike {
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}

.delete {
    display: none;
}

.trashBtn {
    background: #15d485;
    border: none;
    float: right;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
}

.trashBtn:hover {
    background: #fff;
    color: #15d485
}

button {
    width: 40px;
    text-align: center;
    float: right;
    background-color: #15d485;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}